{% extends "base.html" %}

{% block content %}
<h2>Modifier Livre</h2>
<form action="/modifier-livre/{{ livre.id }}" method="post">
    <input type="hidden" name="id" value="{{ livre.id }}">
    <label for="nom">Nom:</label>
    <input type="text" id="nom" name="nom" value="{{ livre.nom }}" required>
    <label for="auteur">Auteur:</label>
    <input type="text" id="auteur" name="auteur" value="{{ livre.auteur }}" required>
    <label for="editeur">Éditeur:</label>
    <input type="text" id="editeur" name="editeur" value="{{ livre.editeur }}" required>
    <button type="submit" name="action" value="modifier">Modifier</button>
</form>
<button onclick="location.href='/supprimer-livre/{{ livre.id }}'">Supprimer</button>
{% endblock %}

